page-category {

  ion-col {
    h2 {
      margin-bottom: 0;
    }

    & ion-badge h2 {
      color: #FFF;
    }
  }

  .category-score {

      color: #FFF;

  }

  button ion-badge  {

    height: 100%;
    h2 {
      color: #FFF;
    }
  }

}
