// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #FFF;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #128FA0,
  secondary:  #8EED5D,
  danger:     #EF003D,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B,
  rate100:        #46B176,
  rate95:         #55B671,
  rate90:         #66B96D,
  rate85:         #78BC69,
  rate80:         #8AC064,
  rate75:         #9BC361,
  rate70:         #AFC85C,
  rate65:         #C2CA57,
  rate60:         #D7CF53,
  rate55:         #EBD14E,
  rate50:         #FFD44A,
  rate45:         #FCC74D,
  rate40:         #F9BC4F,
  rate35:         #F5B151,
  rate30:         #F3A553,
  rate25:         #EF9A55,
  rate20:         #EC8F57,
  rate15:         #E98459,
  rate10:         #E6795B,
  rate5:          #E26F5C,
  rate0:          #E0655E,
  chart1:         rgba(196,77,88,1),
  chart2:         rgba(245,190,53,1),
  chart3:         rgba(199,244,100,1),
  chart4:         rgba(78,205,196,1),
  chart5:         rgba(22,193,243,1),
  chart6:         rgba(85,98,112,1),
  chart7:         rgba(145,32,77,1),
  chart8:         rgba(228,132,74,1),
  text1:          rgba(196,77,88,1),
  text2:          #C89A2B,
  text3:          #92C543,
  text4:          #42A69A,
  text5:         rgba(22,193,243,1),
  text6:         rgba(85,98,112,1),
  text7:         rgba(145,32,77,1),
  text8:         rgba(228,132,74,1)
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";

// $headings-font-weight: 1700;

@import "ionicons";
