page-rubric {

  .icon-button {
      height: 100%;
      color: #FFF;
  }

  ion-col h2 {
    margin-bottom: 0;
    margin-top: 0;

  }



  button ion-badge  {
    height: 100%;
    h2 {

      color: #FFF;
    }
  }

}
